
<div class="head-middle mb25">
    <div class="heading">
        <span class="title">ELECTRONICS</span>
        <div class="wrap-nav">
            <nav class="uk-navbar nav-ad">
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        <li><a href="">Accessories</a></li>
                        <li><a href="">Laptop</a></li>
                        <li><a href="">Mobile Brands</a></li>
                        <li><a href="">Product Types</a></li>
                    </ul>
                </div>
            </nav><!-- nav -->
        </div><!-- .wrap-ad -->
    </div><!-- .heading -->
    <img src="images/upload/ad1.png" alt="" />
</div><!--.head-middle -->
<div class="main-middle">
    <div class="uk-grid uk-grid-width-1-2 uk-grid-width-medium-1-4 uk-grid-small uk-grid-match" data-uk-grid-match="{target:'.product-name'}">
        <div class="wrap">
            <div class="product uk-position-relative">
                <a href=""><img src="images/upload/product1.jpg" alt="" /></a>
                <ul class="list-icon uk-list uk-position-absolute">
                    <li><i class="uk-icon-home"></i></li>
                    <li><i class="uk-icon-heart"></i></li>
                    <li><i class="uk-icon-shopping-cart"></i></li>
                    <li><i class="uk-icon-search-plus"></i></li>
                </ul><!-- .list-icon -->
                <div class="detail">
                    <span class="fa fa-star-0"></span>
                    <h3 class="product-name uk-margin-remove"><a href="">Saze mute love</a></h3>
                    <div class="price">$ 40.00 <span class="old">$ 89.00</span></div>
                </div>
            </div><!-- .product -->
        </div><!--.wrap -->
        <div class="wrap">
            <div class="product uk-position-relative">
                <a href=""><img src="images/upload/product4.jpg" alt="" /></a>
                <ul class="list-icon uk-list uk-position-absolute">
                    <li><i class="uk-icon-home"></i></li>
                    <li><i class="uk-icon-heart"></i></li>
                    <li><i class="uk-icon-shopping-cart"></i></li>
                    <li><i class="uk-icon-search-plus"></i></li>
                </ul><!-- .list-icon -->
                <div class="detail">
                    <span class="fa fa-star-0"></span>
                    <h3 class="product-name uk-margin-remove"><a href="">Saze mute love</a></h3>
                    <div class="price">$ 40.00 <span class="old">$ 89.00</span></div>
                </div>
            </div><!-- .product -->
        </div><!--.wrap -->
        <div class="wrap">
            <div class="product uk-position-relative">
                <a href=""><img src="images/upload/product2.jpg" alt="" /></a>
                <ul class="list-icon uk-list uk-position-absolute">
                    <li><i class="uk-icon-home"></i></li>
                    <li><i class="uk-icon-heart"></i></li>
                    <li><i class="uk-icon-shopping-cart"></i></li>
                    <li><i class="uk-icon-search-plus"></i></li>
                </ul><!-- .list-icon -->
                <div class="detail">
                    <span class="fa fa-star-0"></span>
                    <h3 class="product-name uk-margin-remove"><a href="">Saze mute love</a></h3>
                    <div class="price">$ 40.00 <span class="old">$ 89.00</span></div>
                </div>
            </div><!-- .product -->
        </div><!--.wrap -->
        <div class="wrap">
            <div class="product uk-position-relative">
                <a href=""><img src="images/upload/product3.jpg" alt="" /></a>
                <ul class="list-icon uk-list uk-position-absolute">
                    <li><i class="uk-icon-home"></i></li>
                    <li><i class="uk-icon-heart"></i></li>
                    <li><i class="uk-icon-shopping-cart"></i></li>
                    <li><i class="uk-icon-search-plus"></i></li>
                </ul><!-- .list-icon -->
                <div class="detail">
                    <span class="fa fa-star-0"></span>
                    <h3 class="product-name uk-margin-remove"><a href="">Saze mute love</a></h3>
                    <div class="price">$ 40.00 <span class="old">$ 89.00</span></div>
                </div>
            </div><!-- .product -->
        </div><!--.wrap -->
    </div><!-- .ukgrid -->
</div><!-- .main-middle -->