
<div class="uk-width-1-4 uk-hidden-small">
    <div class="nav-left">
        <span class="title"><i class="uk-icon-navicon"></i> DANH MUC</span>
        <ul class="uk-nav l1">
            <li class="l1">
                <a href="#" title="" class="l1">PHIM LE<i class="uk-icon-chevron-right"></i></a>
                <ul class="uk-nav l2">
                    <li class="l2">
                        <a href="#" title="" class="l2">HÀNH ĐỘNG<i class="uk-icon-chevron-right"></i></a>
                        <ul class="uk-nav l3">
                            <li class="l3">
                                <a href="#" title="" class="l3">KINH DI</a>
                            </li>
                            <li class="l3"><a href="#" title="" class="l3">HOAT HÌNH</a></li>
                            <li class="l3"><a href="#" title="" class="l3">TÌNH CẢM</a></li>
                            <li class="l3"><a href="#" title="" class="l3">SIÊU NHIÊN</a></li>
                        </ul>
                    </li>
                    <li class="l2"><a href="#" title="" class="l2">SMARTPHONE</a></li>
                    <li class="l2">
                        <a href="#" title="" class="l2">MOBILE ACCESSORIES<i class="uk-icon-chevron-right"></i></a>
                        <ul class="uk-nav l3">
                            <li class="l3">
                                <a href="#" title="" class="l3">MEMORY CARD</a>
                            </li>
                            <li class="l3"><a href="#" title="" class="l3">SMARTPHONE</a></li>
                            <li class="l3"><a href="#" title="" class="l3">MOBILE ACCESSORIES</a></li>
                            <li class="l3"><a href="#" title="" class="l3">TABLET</a></li>
                        </ul>
                    </li>
                    <li class="l2"><a href="#" title="" class="l2">TABLET</a></li>
                </ul><!-- ul.l2 -->
            </li>
            <li class="l1"><a href="#" title="" class="l1">PHIM BỘ</a></li>
            
            <li class="l1"><a href="#" title="" class="l1">KINH DỊ</a></li>
            <li class="l1"><a href="#" title="" class="l1">TÌNH CẢM</a></li>
         
        </ul><!-- .uk-nav -->
    </div><!-- .nav-left -->
    <div class="top-aside">
        <div class="heading">
            <span class="title">BEST SELLER</span>
            <nav class="nav-ad"></nav><!-- nav -->
        </div><!-- .heading -->
        <ul class="uk-list">
            <li class="product">
                <div class="wrap uk-clearfix">
                    <img src="images/upload/best1.jpg" alt="" />
                    <div class="detail uk-vertical-align-middle">
                        <span class="fa fa-star-0"></span>
                        <h3 class="product-name uk-margin-remove">Saze mute love</h3>
                        <div class="price">$ 40.00</div>
                    </div>
                </div><!-- .wrap -->
            </li><!-- .product -->
            <li class="product">
                <div class="wrap uk-clearfix">
                    <img src="images/upload/best2.jpg" alt="" />
                    <div class="detail uk-vertical-align-middle">
                        <span class="fa fa-star-0"></span>
                        <h3 class="product-name uk-margin-remove">Saze mute love</h3>
                        <div class="price">$ 40.00</div>
                    </div>
                </div><!-- .wrap -->
            </li><!-- .product -->
            <li class="product">
                <div class="wrap uk-clearfix">
                    <img src="images/upload/best3.jpg" alt="" />
                    <div class="detail uk-vertical-align-middle">
                        <span class="fa fa-star-0"></span>
                        <h3 class="product-name uk-margin-remove">Saze mute love</h3>
                        <div class="price">$ 40.00</div>
                    </div>
                </div><!-- .wrap -->
            </li><!-- .product -->
            <li class="product">
                <div class="wrap uk-clearfix">
                    <img src="images/upload/best4.jpg" alt="" />
                    <div class="detail uk-vertical-align-middle">
                        <span class="fa fa-star-0"></span>
                        <h3 class="product-name uk-margin-remove">Saze mute love</h3>
                        <div class="price">$ 40.00</div>
                    </div>
                </div><!-- .wrap -->
            </li><!-- .product -->
        </ul><!--.list-product -->
    </div><!-- .top-aside -->
    <div class="mid-aside">
        <div class="heading">
            <span class="title">LASTEST POST</span>
            <nav class="nav-ad"></nav><!-- nav -->
        </div><!-- .heading -->
        <div class="post">
            <img src="images/upload/lastest1.png" alt="" />
            <a href="" title="" class="link">Xutan mazte pisa emonstraverunt lector legere legunt sae</a>
            <p class="content">Morbi tempus, sem non ullamcorper euismod, erat odio suscipit purus, nec ornare lacus turpis ac purus. Mauris cursus...</p>
        </div>
    </div><!-- .mid-aside -->
    <div class="faq">
        <div class="heading">
            <span class="title">FAQ</span>
            <nav class="nav-ad"></nav><!-- nav -->
        </div><!-- .heading -->
        <div class="wrap">
            <h3 class="title"><i class="uk-icon-plus" id=faq-plus></i>Pellentesque vitae imperdiet in?</h3>
            <p class="content">Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
        </div><!-- .wrap -->
        <div class="wrap">
            <h3 class="title"><i class="uk-icon-plus" id=faq-plus></i>Pellentesque vitae imperdiet in?</h3>
            <p class="content">Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
        </div><!-- .wrap -->
        <div class="wrap">
            <h3 class="title"><i class="uk-icon-plus" id=faq-plus></i>Pellentesque vitae imperdiet in?</h3>
            <p class="content">Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
        </div><!-- .wrap -->
        <div class="wrap">
            <h3 class="title"><i class="uk-icon-plus" id=faq-plus></i>Pellentesque vitae imperdiet in?</h3>
            <p class="content">Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices.</p>
        </div><!-- .wrap -->
    </div><!-- .faq -->
    <div class="bot-aside">
        <div class="heading">
            <span class="title">TESTIMONIAL</span>
            <nav class="nav-ad"></nav><!-- nav -->
        </div><!-- .heading -->
        <div class="wrap">
            <div class="text">
                <div class="inner">"Aliquam2 ut tellus dignissim, cursus erat ultricies tellus. Nulla tempus sollicitudin mauris cursus dictum. Etiam id diam diam."</div>
            </div><!-- .text -->
            <div class="profie uk-clearfix">
                <img src="images/upload/user1.png" alt="" />
                <h3 class="name">Aliquam Tellus</h3>
                <span class="subtitle">Vitae Ornare Mauris</span>
            </div><!-- .profie -->
        </div><!-- .wrap -->

    </div><!-- .bot-aside -->
    <div class="brand">
        <div class="heading">
            <span class="title">BRANDS</span>
            <nav class="nav-ad"> </nav><!-- nav -->
        </div><!-- .heading -->
        <div class="wrap">
            <ul class="uk-list">
                <li><a href=""><img src="images/upload/brand1.png" alt="" /></a></li>
                <li><a href=""><img src="images/upload/brand2.png" alt="" /></a></li>
                <li><a href=""><img src="images/upload/brand3.png" alt="" /></a></li>
                <li><a href=""><img src="images/upload/brand2.png" alt="" /></a></li>
                <li><a href=""><img src="images/upload/brand1.png" alt="" /></a></li>
                <li><a href=""><img src="images/upload/brand3.png" alt="" /></a></li>
                <li><a href=""><img src="images/upload/brand2.png" alt="" /></a></li>
                <li><a href=""><img src="images/upload/brand2.png" alt="" /></a></li>
            </ul>
        </div><!-- .wrap -->

    </div><!-- .brand -->
</div><!-- .grid-1-4 -->